.header-cabecalho {
    background-color: #36aeea; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 25px;
    border-radius: 10px;
    width: 96%;
    margin: 15px auto;
    box-sizing: border-box;
  }
  
  .logo-area-cabecalho {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .logo-cabecalho {
    width: 45px; 
    height: 45px;
  }
  

  
  

  
  
  
  