footer {
  background-color: #2fa4d8;
  color: white;
  padding: 50px 0;
  font-family: 'Poppins', sans-serif;

  .container-rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .coluna-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    max-width: 250px;

    .logtitulo {
      display: flex;
      align-items: center;
      gap: 8px;

      .logo-rodape {
        width: 50px;
        height: auto;
      }

      .titulo-rodape {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
      }
    }

    .slogan {
      font-size: 0.95rem;
      font-weight: 600;
      margin-top: 8px;
      line-height: 1.4;
      color: white;
    }

    .redes-sociais {
      margin-top: 8px;
      font-size: 0.9rem;
      font-weight: 600;
    }

    .icones {
      display: flex;
      align-items: center;
      gap: 9px;
      margin-top: 1px;

      img {
        width: 28px;
        height: 28px;
        object-fit: contain;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

 
  .colunas-links {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;

    .coluna {
      display: flex;
      flex-direction: column;
      
      gap: 10px;
      min-width: 180px;

      h1 {
        display: flex;
        justify-content: flex-start;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .links {
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
          color: white;
          text-decoration: none;
          font-size: 0.9rem;
          transition: color 0.2s;

          &:hover {
            color: #e0f7ff;
          }
        }
      }
    }
  }
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}