.titulo{
    text-align: center;
    color: #2FA4D8;
    font-family: 'poppins', sans-serif;
    font-size:x-large;
    margin-top: 100px;

}

.ajuda-container{
    padding: 20px;
    font-family: 'poppins', sans-serif;
    background-color: #F4FBFF;

}

.cartao-topo{
    background-color: #2FA4D8;
    color: white;
    padding: 20px 10px;
    border-radius: 2px 2px;
    text-align: center;
}

.subtitulo{
    text-align: center;
    color: #2FA4D8;
    font-family: 'poppins', sans-serif;
    font-size: x-large;
}

.faq-lista {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.faq-item {
    background: white;
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}

.faq-item.ativo {
    background-color: #e9f7fc;
}

.faq-pergunta {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: #333;
    background-color: #b3d5e0;
    transition: all 0.2s ease;

    &:hover {
        background-color: #f0faff;
    }

    .icone {
        font-size: 22px;
        color: #2FA4D8;
    }
}

.faq-resposta {
    padding: 10px 20px 20px;
    font-size: 15px;
    color: #444;
    line-height: 1.5;
}