.titulo{
    text-align: center;
    color: #2FA4D8;
    font-family: 'poppins', sans-serif;
    font-size:x-large;

}

.ajuda-container{
    padding: 20px;
    font-family: 'poppins', sans-serif;
    background-color: #F4FBFF;

}

.cartao-topo{
    background-color: #2FA4D8;
    color: white;
    padding: 20px 10px;
    border-radius: 2px 2px;
    text-align: center;
}

.subtitulo{
    text-align: center;
    color: #2FA4D8;
    font-family: 'poppins', sans-serif;
    font-size: x-large;
}

.perguntas-esquerda{
    margin: 15px;
    .pergunta-esquerda{
        color: #2FA4D8;
    }
}

.perguntas-direita{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 40px;
    .pergunta-direita{
        color: #2FA4D8;
    }
    .resposta-direita{
        text-align: right;
    }
}
